
.vs/staging-area/v15/Server/sqlite3/db.lock
.vs/staging-area/v15/Server/sqlite3/storage.ide
.vs/staging-area/v15/Server/sqlite3/storage.ide-shm
.vs/staging-area/v15/Server/sqlite3/storage.ide-wal
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/UnityTempFile-132f1dbc30fa3814197f21bac062ae30
Temp/UnityTempFile-64c596862f9d00d4c8e4d25d9d9f5b01
Temp/UnityTempFile-6568b9ce0a903fc429f94984d27d3d0b
.vs/staging-area/v15/.suo
